<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DAMA DMBoK Quiz</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <style>
        body {
            background-color: #fff;
            color: #333;
        }

        .container {
            max-width: 600px;
            margin: 50px auto;
            background-color: #fff;
            padding: 20px;
            border: 1px solid #eee;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
        }

        h1 {
            color: #f0ad4e;
            /* Bootstrap's warning (yellow) color */
        }

        #scoreDiv {
            margin-top: 30px;
        }

        #result {
            color: #f0ad4e;
            font-weight: bold;
            margin-top: 20px;
        }
    </style>
</head>

<body>
    <div class="container">
        <h1>DAMA DMBoK Quiz</h1>
        <p>Total questions answered: <span id="totalAnswered">{{ score['correct'] + score['incorrect'] }}</span></p>
        <hr>
        <p><strong id="displayAreaId">AreaId:</strong> {{ AreaId }}, <strong id="displayArea">Area:</strong> {{ Area }}
        </p>
        <div id="questionDiv">
            <p>{{ question }}</p>
            <form id="quizForm">
                {% for option in options %}
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="option" value="{{ loop.index }}" required>
                    <label class="form-check-label">{{ option }}</label>
                </div>
                {% endfor %}
                <br>
                <button type="submit" class="btn btn-warning">Submit</button>
                <br>
                <span>Has respondido esta pregunta:</span>
                <br>
                (<span id="questionCorrectCount">Correctamente: 0</span>, 
                <span id="questionIncorrectCount">Incorrectamente: 0</span>)
            </form>
            <p id="result"></p>
            <button id="nextQuestionButton" type="button" class="btn btn-warning" style="display: none;">Siguiente
                pregunta</button>
            <div id="commentDiv" style="display: none;">
                <p><strong>Previous comments:</strong></p>
                <p id="previousComment"></p>
                <textarea id="commentTextArea" class="form-control" rows="4"
                    placeholder="Add your comment..."></textarea>
                <br>
                <button id="addCommentButton" type="button" class="btn btn-warning">Add Comment</button>
            </div>
        </div>
        <div id="scoreDiv">
            <p><strong>Score:</strong> Correct - <span id="correctScore">{{ score['correct'] }}</span>, Incorrect -
                <span id="incorrectScore">{{ score['incorrect'] }}</span>
            </p>
            <button id="resetScore" class="btn btn-danger">Reset Score</button>
        </div>
        <canvas id="scoreChart" width="400" height="200"></canvas>
    </div>

    <script>
        var ctx = document.getElementById('scoreChart').getContext('2d');
        var scoreChart;

        function loadNewQuestion() {
            $.get("/new_question", { _: new Date().getTime() }, function (data) {
                $("#displayAreaId").text("AreaId: " + data.AreaId);
                $("#displayArea").text("Area: " + data.Area);
                $("#questionDiv p:first").text(data.question);
                $("#quizForm .form-check").each(function (index) {
                    $(this).find("input").val(index + 1);
                    $(this).find("label").text(data.options[index]);
                });
                $("#result").text("");
                $("input[name=option]").prop('checked', false);
                $("#commentDiv").hide();
                $("#nextQuestionButton").hide();
                $("#questionCorrectCount").text("Correctamente: " + data.correct_count + " veces");
                $("#questionIncorrectCount").text("Incorrectamente: " + data.incorrect_count + " veces");
            });
        }

        function updateChart(scoresByArea) {
            if (scoreChart) {
                scoreChart.destroy();
            }

            var areas = Object.keys(scoresByArea);
            var correctData = areas.map(function (area) { return scoresByArea[area]['correct']; });
            var incorrectData = areas.map(function (area) { return scoresByArea[area]['incorrect']; });

            scoreChart = new Chart(ctx, {
                type: 'bar',
                data: {
                    labels: areas,
                    datasets: [
                        {
                            label: 'Correct',
                            data: correctData,
                            backgroundColor: 'rgba(240, 173, 78, 0.5)', // Bootstrap's warning (yellow) color
                            borderColor: 'rgba(240, 173, 78, 1)',
                            borderWidth: 1
                        },
                        {
                            label: 'Incorrect',
                            data: incorrectData,
                            backgroundColor: 'rgba(217, 83, 79, 0.5)', // Bootstrap's danger (red) color
                            borderColor: 'rgba(217, 83, 79, 1)',
                            borderWidth: 1
                        }
                    ]
                },
                options: {
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero: true,
                                stepSize: 1
                            }
                        }]
                    }
                }
            });
        }

        $(document).ready(function () {
            $.get("/scores_by_area", function (data) {
                updateChart(data);
            });
        });

        $(document).on('submit', '#quizForm', function (e) {
            e.preventDefault();
            $("button[type='submit']").prop("disabled", true);
            $.post("/check_answer", { option: $("input[name=option]:checked").val() }, function (data) {
                $("#result").text(data.result + " The correct answer is: " + data.correct_answer);
                // Show the comment section if the answer is correct
                if (data.result == "Correct!") {
                    $("#commentDiv").show();
                } else {
                    $("#commentDiv").hide();
                }

                // Show the "Next Question" button after checking the answer
                $("#nextQuestionButton").show();
                $("#totalAnswered").text(data.total_answered);
                $("#correctScore").text(data.score['correct']);
                $("#incorrectScore").text(data.score['incorrect']);
                $.get("/scores_by_area", function (data) {
                updateChart(data);
            });
            });
        });

        $(document).on('click', '#resetScore', function (e) {
            e.preventDefault();

            $.get("/reset_score", function (data) {
                $("#correctScore").text(data['correct']);
                $("#incorrectScore").text(data['incorrect']);
                loadNewQuestion();
                $.get("/scores_by_area", function (data) {
                updateChart(data);
            });
            });
        });


        // Handle the "Next Question" button click
        $(document).on('click', '#nextQuestionButton', function () {
            loadNewQuestion();
            $("#nextQuestionButton").hide();
            $("#commentDiv").hide();
            $("button[type='submit']").prop("disabled", false);
        });
        // Handle the add comment button click
        $(document).on('click', '#addCommentButton', function () {
            var comment = $("#commentTextArea").val();
            $.post("/add_comment", { comment: comment }, function (data) {
                alert(data.status);
                $("#commentTextArea").val("");
            });
        });


    </script>
</body>

</html>